<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="stylesheet" type="text/css" href="./index.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>出席登録完了</title>
    </head>
    <body>
        <div class="header">
            <a href="./QRread" id="back"><div class="backBtn"></div></a>
            <a href="./home" id="home"><div class="homeBtn"></div></a>
            <div class="logo"></div>
          </div>  
          <div class="namePlate">
            <div id="major" class="major"></div>
            <div id="grade" class="grade"></div>
            <div id="number" class="number"></div>
            <div id="name" class="name"></div>
          </div>
          <div class="check" >
            <!-- <span class="innerHome" id="ATcheck">
            </span> -->
            <div id="kname"></div>
            <div id="times"></div>
            <div>出席登録完了</div>
          </div>
        <div class="footer"></div>
    </body>
    <script>
        //url情報保持
        const query = location.search;
        const value = query.split('=');
        const kname = document.getElementById("kname");
        const times = document.getElementById("times");
        kname.innerText = lName(value[5]);
        times.innerText = ltimes(value[6]);

        //homeurlにデータ付与
        const home = document.getElementById("home");
        home.href="./home?name="+value[1]+"="+value[2]+"="+value[3]+"="+value[4]; 
        //homeurlにデータ付与
        const home2 = document.getElementById("back");
        home2.href="./QRread?name="+value[1]+"="+value[2]+"="+value[3]+"="+value[4]; 
	      //divのid取得
		    const major=document.getElementById('major');
		    const grade=document.getElementById('grade');
		    const number=document.getElementById('number');
		    const name=document.getElementById('name');
	      //loginした人のデータ表示
		    major.innerText = value[1];
		    grade.innerText = "第"+value[2]+"学年";
		    number.innerText = "学生番号:"+value[3];
		    name.innerText = value[4];

       function lName(a){
            if(a=="Japanese"){
                 return "日本語";
            }else if(a=="English"||a=="Engilsh"){
                return "英語";
            }else if(a=="Math"){
                return "数学";
            }else if((a=="Social_studies")||(a=="Soclal_studies")){
                return "社会";
            }else if(a=="Politics_and_economics"){
                return "政治・経済";
            }else if(a=="Science"){
                return "科学";
            }else if(a=="Art"){
                return "美術";
            }else if(a=="Music"){
                return "音楽";
            }else if(a=="Physical_education"){
                return "物理学";
            }else if(a=="Special_activities"){
                return "特別活動";
            }else if(a=="Period_for_integrated_study"){
                return "総合学習";
            }else if(a=="Health"){
                return "保健";
            }else{
                return a;
            }
        }

        function ltimes(a){
            if(a=="first"){
                 return "第1回";
            }else if(a=="second"){
                return "第2回";
            }else if(a=="third"){
                return "第3回";
            }else if(a=="fourth"){
                return "第4回";
            }else if(a=="fifth"){
                return "第5回";
            }else if(a=="sixth"){
                return "第6回";
            }else if(a=="seventh"){
                return "第7回";
            }else if(a=="eighth"){
                return "第8回";
            }else if(a=="ninth"){
                return "第9回";
            }else if(a=="tenth"){
                return "第10回";
            }else if(a=="eleventh"){
                return "第11回";
            }else if(a=="twelfth"){
                return "第12回";
            }else if(a=="thirteenth"){
                return "第13回";
            }else if(a=="fourteenth"){
                return "第14回";
            }else if(a=="fifteenth"){
                return "第15回";
            }else{
                return a;
            }
        }
    </script>
</html>
