<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="stylesheet" type="text/css" href="./index.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>出席登録完了</title>
    </head>
    <body>
        <a href="./home" id="home"><div class="homeBtn"></div></a>
        <div>出席登録しました</div>
    </body>
    <script>
        const query = location.search;
        const value = query.split('=');
        //homeurlにデータ付与
        const url = document.getElementById("home");
        home.href="./home?name="+value[1]+"="+value[2]+"="+value[3]+"="+value[4]; 
    </script>
</html>
