<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" type="text/css" href="./index.css">
		 <title>Node.js HTML表示</title>
    </head>
</head>
<body>
    <div class="header">
        <div class="modoru"> 
        </div>
        <div class="home">
        </div>
        <div class="logo"></div>
    </div>
    <div class="namePlate">
        <div class="line"></div>
    </div>
    <!-- <button type="button" class="QRreadBtn">読み取り画面</button> -->
    <a href="./QRread.html" class="QRreadBtn">
		<span class="innerHome">読み取り画面</span>
    </a>
    <!-- <button type="button" class="attendBtn">出欠確認画面</button> -->
    <a href="./attend.html" class="attendBtn">
		<span class="innerHome">出欠確認画面</span>
    </a>
    <div class="footer"></div>
</body>
</html>
