<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" type="text/css" href="./css/index.css">
		 <title>Node.js HTML表示</title>
    </head>
    <body>
        <header class="aaa">ヘッダー</header>
		<article>
			<div class="seitoLogin">
				<h1>生徒用</h1>
				<h2>ログインID</h2>
				<h2>パスワード</h2>
				<a href="seito.html">ログイン</a>
			</div>
			<div class="senseiLogin">
				<h1>生徒用</h1>
				<h2>ログインID</h2>
				<h2>パスワード</h2>	
				<a href="sensei.html">ログイン</a>			
			</div>
		</article>
		<fotter class="bbb">フッター</fotter>

        <!-- <script src="../../common/jquery-3.4.1.min.js"></script> -->
        <script src="./index.js"></script>
    </body>
</html>