<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="stylesheet" type="text/css" href="./index.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>ログイン画面</title>
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
        </div>
        <div class="loginbox">
            <form method="post" id="form">
                <div>
                    <div class="userID">mailadress</div>
                    <input type="text" id="id" required name="" placeholder="ログインIDを入力" class="loginID">
                    <div class="userPass">passward</div>
                    <input type="password" id="pass" required name="" placeholder="パスワードを入力" class="loginPASS"><br>
                    <input id="btn" type="submit" name="" value="ログイン" class="loginBtn">
                </div>
            </form>
        </div>
		<div class="footer"></div>
        <script src="./js/login.js"></script> 
        <script>
            console.log("iyoda@example.com");
            console.log("aaaaaaa");
        </script>
    </body>
</html>
