<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="content-type" content="text/html charset=UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <title>ログインテスト</title>
    </head>
    <body>
        <header class="aaa">ヘッダー</header>
        <form method="post" id="form">
                <div">
                    <div>ログインID</div>
                    <input type="text" id="id" required>
                    <div>パスワード</div>
                    <input type="password" id="pass" required><br>
                    <input id="btn" type="submit">
                </div>
        </form>
		<fotter class="bbb">フッター</fotter>
        <script src="./js/login.js"></script> 
    </body>
</html>
