<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" type="text/css" href="./index.css">
     <script src="./jsQR.js" defer></script>
     <title>Node.js HTML表示</title>
    </head>
    <body>
        <div class="header">
            <a href="./home.html"><div class="backBtn"></div></a>
            <a href="./home.html"><div class="homeBtn"></div></a>
            <div class="logo"></div>
        </div>
        <div class="namePlate"></div>
        <div class="line"></div>
        <div class="attendPlate">
            <span class="innerHome">出欠登録</span>
        </div>
        <div class="reader">
            <video id="js-video" class="reader-video" autoplay playsinline></video>
        </div>
        <div style="display:none">
            <canvas id="js-canvas"></canvas>
        </div>
        <div id="js-modal" class="modal-overlay">
            <div class="modal">
              <div class="modal-cnt">
                <span class="modal-title">読み取り結果</span>
                <span id="js-result" class="modal-result"></span>
              </div>
              <a href="" id="js-link" class="modal-btn" target="_blank">開く</a>
              <button type="button" id="js-modal-close" class="modal-btn">閉じる</button>
            </div>
          </div>
		
    </body>
    <script src="./QRreader.js"></script>
    <script src="./view.js"></script>
</html>