<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" type="text/css" href="./css/index.css">
     <title>Node.js HTML表示</title>
    </head>
    <body>
      <header>ヘッダー</header>
			<article>
				<div>seito</div>
        <table class="msr_table01">
          <thead>
            <tr>
              <th></th>
              <th>第1回</th>
              <th>第2回</th>
              <th>第3回</th>
              <th>第4回</th>
              <th>第5回</th>
              <th>第6回</th>
              <th>第7回</th>
              <th>第8回</th>
              <th>第9回</th>
              <th>第10回</th>
              <th>第11回</th>
              <th>第12回</th>
              <th>第13回</th>
              <th>第14回</th>
              <th>第15回</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>新井</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>佐藤</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>石田</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>田中</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>        
			</article>
			<fotter>フッター</fotter>
    </body>
</html>